samples_file = "/net/seq/data2/projects/sabramov/ont/cell_lines_r10/src/file_list_all_cell_lines.tsv" // file with two columns: cell_line and fastq_file
conda = "/home/sabramov/miniconda3/envs/ont" // path to conda env
outdir = "output"
genome = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
